$border-color: #e4e6e7;
$body-content-bg: #fcfcfb;
$main-body-bg: #f3f1ef;
$white-bg: #ffff;
$active-color: #fd7b38;
$text-active-color: #1e2538;
$text-inactive-color: #7c8292;
$bullet-color: #ff61d0;
$input-labels-color: #7c8292;
$input-placeholder-color: #a2a19c;
$btn-disable-color: #e4e4de;
$file-pdf-icon-color: #f44716;
$file-excel-icon-color: #1d6f42;
$file-word-iocn-color: #1b5ebe;
$btn-success-mail-modal: #33b97c;
